**/target
**/classes
**/out
**/logs
**/pids
**/dumps
**.log
**/configuration-resources-local
########## InteliJ IDEA ##########
*.iml
.idea
########## Eclipse IDEA ##########
.settings
.classpath
.project
.metadata
########## MAC OS ##########
**.DS_Store
contacts/src/test/
